<div class="page-content">
    <h1>Showing article details</h1>

    <div class="container">
    <article class="article__block">
        <h2><%= @article.title %></h2>

        <diV class="article__details">
            <%= simple_format(@article.description) %>
        </div>
    </article>

        <%= link_to 'Edit article', edit_article_path(@article) %> |
        <%= link_to 'Delete', article_path(@article), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete the article?' } %>
    

        <%= link_to 'Back to main', root_path() %> |
        <%= link_to 'Back to articles', articles_path() %>
    </div>
</div>