<div class="page-content">
  <h1>Beta Bloggers</h1>

 <div class="pagination">
    <span class="pagination"><%= will_paginate @users, :container => false %></span>
  </div>

  <div class="container">
  <% @users.each do |user| %>
    <div class="row justify-content-md-center">
      <div class="card text-center col-8 mt-4 article__card mb-5 bg-white rounded">
        <div class="card-header">
          <h5 class="card-title"><%= link_to user.username, user_path(user), :title => "visit #{user.username}'s profile" %></h5>
        </div>

        <div class="card-body">
          <p class="card-text"><%= link_to gravatar_for(user), user_path(user) %> </p>
          
          <p>Articles written: <%= user.articles.count %></p>
          <%= link_to "View", user_path(user), :title => "visit #{user.username}'s profile", class: "btn btn-info" %>
        </div>

        <div class="card-footer text-muted">
          <small> Member since <%= user.created_at.strftime("%Y-%m-%d") %> </small>
        </div>

      </div>
    </div>
  <% end %>
  </div>

 <div class="pagination">
    <span class="pagination"><%= will_paginate @users, :container => false %></span>
  </div>

</div>