<div class="page-content">
  <h1><%= @user.username %>'s profile</h1>

  <div class="container mb-5"> 
    <%= gravatar_for @user, size: 200 %>   
  </div>

  <div class="text-center mb-5">

    <% if logged_in? && @user == current_user %>
      <%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-info" %>
    <% end %>
    <% if current_user.admin? %>
      <%= link_to "Delete account", user_path(@user), class: "btn btn-danger", 
      data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{@user.username}'s account? This action cannot be undone"} %>
    <% end %>
    
  </div>

  <div class="container mb-5">
    <article class="article__block">
     <h3>Articles written by  <%= @user.username %></h3>
    
    <% @articles.each do |article| %>
      <div class="row justify-content-md-center">
        <div class="card text-center col-8 mt-4 article__card mb-5 bg-white rounded">

          <div class="card-header">
            <h5 class="card-title"><%= link_to article.title, article_path(article) %></h5>
            <% if article.categories.any? %>
              <div class="text-center mt-3 small mb-2">
              <%= render article.categories %>
              </div>
            <% end %>
          </div>


          <div class="card-body">
            <p class="card-text"><%= truncate(article.description, length: 100) %></p>
            <%= link_to "Show", article_path(article), class: "btn btn-info" %>
            <% if logged_in? && @user == current_user %>   
              <%= link_to "Edit", edit_article_path(article), class: "btn btn-info" %>
              <%= link_to 'Delete', article_path(article),  class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}%>
            <% end %>
          </div>
          
          <div class="card-footer text-muted">
            <small>Created at <%= article.created_at %>,
            last edited at <%= article.updated_at %>
            </small>
          </div>

        </div>
      </div>

    <% end %>
    </article>
  </div>

 <div class="pagination">
    <span class="pagination"><%= will_paginate @articles, :container => false %></span>
  </div>

</div>